<h2><%= @game.title %></h2>

<h4>Submissions:</h4>
<div class="submissions">
<% @submissions.each do |submission| %>

  <div class="submission">
    <p>Name: <%= submission.name %></p>
    <p>Answers: <%= submission.answers %></p>
  </div>

<% end %>
</div>
