//colors
$color_black_haze_approx: #f7f7f7;

html {
	background-color: $color_black_haze_approx;
}

body {
	background-color: inherit;
}

.inner-card {
	padding: 30px;
}

.container {
	width: 100%;
	padding: 30px;
}

.full-size-image {
	width: 100%;
}