//colors
$color_black_haze_approx: #f7f7f7;

html {
	background-color: $color_black_haze_approx;
}

body {
	background-color: inherit;
}

.inner-card {
	padding: 30px;
}

.container {
	width: 100%;
	padding: 30px;
}

.full-size-image {
	width: 100%;
}

.questions h1{
	height: 140px;
	color: #fff;
	padding: 30px;
	overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
}
.questions.nba {
	background-color: #a32525;
}
.questions.mlb {
	background-color: #61822d;
}
.questions.nhl {
	background-color: #94bee8;
}
.questions.cst {
	background-color: #e0e0e0;
}